@model List<Market_Express.Application.DTOs.Address.AddressDTO>
<div>
    <h5 class="d-inline">Direcciones</h5>
    <i type="button" class="fas fa-info-circle text-primary" data-trigger="focus" tabindex="0" data-toggle="popover" title="Información" data-content="Las direcciones son necesarias para realizar pedidos, al procesar un carrito debes elegir una dirección a la cual debe ser enviado el pedido generado."></i>
</div>

@if (Model?.Count > 0)
{
    int iCount = 1;
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th style="width:3%;">#</th>
                <th style="width:10%;">Nombre</th>
                <th style="width:77%;">Detalle</th>
                <th style="width:10%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in Model)
            {
                <tr>
                    <td style="width:3%;">@iCount</td>
                    <td style="width:10%;">@address.Name</td>
                    <td style="width:77%;"><p>@address.Detail</p></td>
                    <td style="width:10%;">
                        <div class="w-75 mx-auto">
                            <input type="hidden" name="hdAddressId" id="hdAddressId" value="@address.Id" />
                            <a href="#" class="btn btn-sm btn-success" title="Modificar" data-toggle="modal" data-target="#modalAddress" id="putAddress"><i class="fas fa-pen"></i></a>
                        </div>
                    </td>
                </tr>
                iCount++;
            }

            @if (Model.Count < 3)
            {
                <tr>
                    <td colspan="3">
                        <div class="w-50 mx-auto">
                            <a href="#" class="btn btn-sm btn-primary btn-block" data-toggle="modal" data-target="#modalAddress" id="postAddress">Añadir nueva dirección <i class="fas fa-plus"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <p class="text-danger">No tienes direcciones creadas!</p>
        <div class="w-50 mx-auto">
            <a href="#" class="btn btn-sm btn-primary btn-block" data-toggle="modal" data-target="#modalAddress" id="postAddress">Añadir una nueva dirección <i class="fas fa-plus"></i></a>
        </div>
    </div>
}