
@{
    ViewData["Title"] = "Unauthorized";
}

<section class="container" style="height:171px;">
    <h1 class="text-danger">401 - Unauthorized</h1>
    <h5>Usted no tiene los permisos suficientes para acceder a la vista.</h5>

</section>