
@{
    ViewData["Title"] = "Unauthorized";
}

<section class="section-content padding-y">
    <div class="container" style="height: 200px;">
        <h1 class="text-danger">401 - Unauthorized</h1>
        <h5>Usted no tiene los permisos suficientes para acceder al recurso.</h5>
    </div>
</section>