
@{
    ViewData["Title"] = "Actualizar Contraseña";
}

<link href="~/css/responsive.box.css" rel="stylesheet" />

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Bienvenido!</h2>
        <p>Antes de continuar por favor actualiza tu contraseña.</p>
    </div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        @if (ViewData["MessageResult"] != null)
        {
            <div class="box-md mx-auto">
                <div class="alert alert-dismissible fade show alert-danger mb-3" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="mb-0">@ViewData["MessageResult"].ToString()</p>
                </div>
            </div>
        }

        <div class="card mx-auto box-md">
            <div class="card-body">
                <h4>Actualizar contraseña</h4>
                <hr />
                <form asp-area="" asp-controller="Account" asp-action="ChangePassword" id="frmChangePass" method="post">
                    <input type="hidden" name="isFirstLogin" value="true" />
                    <div class="form-group">
                        <label for="newPass" class="col-form-label" data-val-equalto="Las contraseñas no coinciden" data-val-equalto-other="newPassConfirmation">Contraseña Nueva</label>
                        <input type="password" name="newPass" class="form-control" data-val="true" data-val-required="Este campo es obligatorio" maxlength="40" id="newPass" placeholder="Escribe tu nueva contraseña">
                        <span class="field-validation-valid text-danger" data-valmsg-for="newPass" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassConfirmation" class="col-form-label">Confirmar Contraseña</label>
                        <input type="password" name="newPassConfirmation" class="form-control" data-val="true" data-val-equalto="Las contraseñas no coinciden" data-val-equalto-other="newPass" data-val-required="Este campo es obligatorio" maxlength="40" id="newPassConfirmation" placeholder="Confirma tu nueva contraseña">
                        <span class="field-validation-valid text-danger" data-valmsg-for="newPassConfirmation" data-valmsg-replace="true"></span>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" form="frmChangePass">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<section class="section-name bg padding-y">
    <div class="container">
        <h6>Políticas de seguridad</h6>
        <p>
            Por políticas de seguridad es necesario que actualices tu contraseña.
        </p>
    </div><!-- container // -->
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}