<!DOCTYPE HTML>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Market Express</title>


    <!-- Bootstrap 4-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Font Awesome 5 -->
    <link href="~/lib/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- Custom Style -->
    <link href="~/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link href="~/css/site.css" rel="stylesheet" />


</head>


<body>
    <div class="row">
        <div class="col-2">
            <img src="~/img/logoNoName.png" />
        </div>
        <div class="col-8">
            <h1 class="text-center">Market Express</h1>
        </div>
    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="section-footer border-top">
        <div class="container">

            <section class="footer-bottom border-top row">
                <div class="col-12">
                    <p class="text-muted"> &copy 2021 Market Express </p>
                </div>
            </section>
        </div>

    </footer>
</body>

</html>