@model Market_Express.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Internal Server Error";
}

<section class="container">
    
</section>


<section class="section-content padding-y">
    <div class="container" style="height: 200px;">
        <h1 class="text-danger">500 - Internal Server Error</h1>
        <h5>Ocurrió un error mientras se procesaba tu solicitud. Por favor intentalo más tarde.</h5>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</section>
