@model Market_Express.Web.ViewModels.NotFoundViewModel
@{
    ViewData["Title"] = "Not Found";
}

<section class="section-content padding-y">
    <div class="container" style="height: 200px;">
        <h1 class="text-danger">404 - NotFound</h1>
        <h5>El recurso solicitado no existe.</h5>
      </div>
</section>

