@model Market_Express.Web.ViewModels.NotFoundViewModel
@{
    ViewData["Title"] = "Not Found";
}

<section class="container">
    <h1 class="text-danger">404 - NotFound</h1>
    <h5>El recurso solicitado no existe.</h5>
    <h4 class="mt-3">¿Hay un error?</h4>
    <p>Si crees que hay un error y el recurso debería existir por favor comunicate con el administrador del sistema y muestra el <strong>Id del Recurso</strong> y el <strong>Tipo de Recurso</strong></p>
    <p><strong>Id del Recurso: </strong><code>@Model.ResourceId.ToString()</code></p>
    <p><strong>Tipo de Recurso: </strong>@Model.ResourceType</p>
</section>

