
@{
    ViewData["Title"] = "Acerca de la Empresa";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Acerca de la Empresa</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Acerca de la Empresa</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        <div>
            <h4 class="font-weight-bold">Abastecedor Santa Elena</h4>
            <p class=text-justify>El Abastecedor Santa Elena es un “súper” ubicado en Santa Elena Abajo de Frailes de Desamparados el cual tiene más de 50 años de estar consolidado en la zona, en sus inicios se destacaba por ser un conocido salón de baile con bar el cual incluía una pulpería, conforme pasaron los años y con el cambio de dueños del establecimiento, fue evolucionando hasta convertirse en lo que es hoy en día.</p>
        </div>

    </div>
</section>