
@{
    ViewData["Title"] = "Acerca el Sistema";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Acerca del Sistema</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Acerca del Sistema</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Market Express - ME</h4>
                <dl class="text-center">
                    <dt>Versión del sistema</dt>
                    <dd>1.0.0 - 24/10/2021 </dd>
                    <dt>Plataforma</dt>
                    <dd>.NET 5</dd>
                    <dt>Framework</dt>
                    <dd>ASP.NET MVC</dd>
                    <dt>Lenguaje de programación</dt>
                    <dd>C# 9</dd>
                    <dt>Desarrolladores</dt>
                    <dd>Luis Diego Solís Camacho <br /> Bryan Gomez Rosales</dd>
                    
                </dl>
            </div>
        </div>
      
    </div>
</section>