@model Market_Express.Web.ViewModels.Home.HomeSearchViewModel
@{
    ViewData["Title"] = "Resultado de Busqueda";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Buscar Artículos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Buscar Artículos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 mb-3">
                <div class="card">
                    <form asp-area="" asp-controller="Home" asp-action="Index" method="get" id="frmFilters">
                        <input type="hidden" name="isSearchView" value="true" />
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Artículo</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_1" style="">
                                <div class="card-body">
                                    <div class="input-group">
                                        <input asp-for="Filters.Query"
                                               name="query"
                                               type="text"
                                               class="form-control-original"
                                               placeholder="Buscar">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Categorías</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_2" style="">
                                <div class="card-body">
                                    @{
                                        string sChecked = "";

                                        @if (Model.Filters.Category != null && Model.Categories != null)
                                        {
                                            @if (Model.Filters.Category.Count == Model.Categories.Count)
                                            {
                                                sChecked = "checked";
                                            }
                                        }
                                    }
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="chkAllCategory"
                                               @sChecked />
                                        <span class="custom-control-label">Todas las categorías</span>
                                    </label>
                                    @foreach (var category in Model.Categories)
                                    {
                                        sChecked = "";

                                        <div class="row no-gutters">
                                            <div class="col-11">
                                                <label class="custom-control custom-checkbox">
                                                    @if (Model?.Filters?.Category != null)
                                                    {
                                                        @foreach (Guid id in Model.Filters.Category)
                                                        {
                                                            if (category.Id == id)
                                                            {
                                                                sChecked = "checked";
                                                                break;
                                                            }
                                                        }
                                                    }
                                                    <input name="category"
                                                           type="checkbox"
                                                           value="@category.Id"
                                                           class="custom-control-input"
                                                           @sChecked />

                                                    <span class="custom-control-label">
                                                        @category.Name
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="col-1">
                                                <b class="badge badge-pill badge-light">@category.ArticlesCount</b>
                                            </div>
                                        </div>
                                    }
                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Rango de Precios</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3" style="">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input asp-for="Filters.MinPrice"
                                                   name="minPrice"
                                                   class="form-control"
                                                   placeholder="₡0"
                                                   type="number"
                                                   max="100000"
                                                   min="0"
                                                   oninput="javascript: if (this.value > 100000) this.value = 100000" />
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <input asp-for="Filters.MaxPrice"
                                                   name="maxPrice"
                                                   class="form-control"
                                                   placeholder="₡100000.00"
                                                   type="number"
                                                   max="100000"
                                                   min="0"
                                                   oninput="javascript: if (this.value > 100000) this.value = 100000" />
                                        </div>
                                    </div> <!-- form-row.// -->
                                    <button type="submit" class="btn btn-block btn-primary">Aplicar Filtros</button>
                                </div><!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                    </form>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->

            <main class="col-lg-9">
                <div id="divSearchResult">
                    @{ await Html.RenderPartialAsync("_ArticlesSearchResultPartial", Model); }
                </div>
            </main>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


@{
    string sParams = "";

    Model?.Filters?.Category?.ForEach(cat =>
    {
        sParams += $"category={cat.ToString()}&";
    });

    sParams += $"query={Model?.Filters?.Query}&";
    sParams += $"maxPrice={Model?.Filters?.MaxPrice}&";
    sParams += $"minPrice={Model?.Filters?.MinPrice}&";
    sParams += $"fromSearchView=true";
}

@section Scripts{
    <script src="~/js/home.search.js"></script>
    <script src="~/js/home.search.articleActions.js"></script>
    <script src="~/js/home.search.pagination.js"></script>
    <script>
        params = '@Html.Raw(sParams)';
    </script>
}