
@{
    ViewData["Title"] = "Manual de Usuario";
}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Manual de Usuario</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manual de Usuario</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4>Descargar manual de usuario</h4>
                <hr />
                <p>Si necesitas ayuda sobre el uso del sistema puedes descargar el manual de usuario.</p>
                <p>Recuerda que puedes pulsar los botones informativos 
                    <i type="button"
                       class="fas fa-info-circle text-primary d-inline"
                       data-trigger="focus"
                       tabindex="0"
                       data-toggle="popover"
                       title="Información"
                       data-content="Suelo contener mensajes de informativos!">
                    </i>
                para obtener información de ayuda.
                </p>
                <a asp-area=""
                   asp-controller="Resource"
                   asp-action="UserManual"
                   target="_blank"
                   class="btn btn-primary">Descargar</a>
            </div>
        </div>
    </div>
</section>