@model List<Market_Express.Application.DTOs.Role.RoleDTO>
@{
    ViewData["Title"] = "Roles y Permisos";
}

<style>
    .text-capitalize-first {
        text-transform: lowercase;
    }

    .text-capitalize-first::first-letter {
        text-transform: capitalize;
    }
</style>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Roles y Permisos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Roles y Permisos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        @if (TempData["RoleMessage"] != null)
        {
            <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-check"></i> Éxito!</h4>
                <p class="mb-0">
                    @TempData["RoleMessage"].ToString()
                </p>
            </div>
        }

        <div class="card">
            <div class="card-header bg-primary">
                <div>
                    <h4 class="text-white d-inline">Gestionar</h4>
                    <i type="button"
                       class="fas fa-info-circle text-white d-inline"
                       data-trigger="focus"
                       tabindex="0"
                       data-toggle="popover"
                       title="Información"
                       data-content="Pulsa sobre cualquier rol para obtener más detalles.">
                    </i>
                </div>
                <div class="h4"></div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="font-weight-bold">
                            <td style="width: 30%">Nombre</td>
                            <td>Descripción</td>
                            <td class="text-center" style="width: 10%;">Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.Count > 0)
                        {
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td style="width: 30%"><p class="text-capitalize-first">@role.Name</p></td>
                                    <td>@role.Description</td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-success"
                                           asp-area="Admin"
                                           asp-controller="Role"
                                           asp-action="Edit"
                                           asp-route-id="@role.Id"><i class="fas fa-pen"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3"><p class="text-danger">No hay roles disponibles.</p></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <a asp-area="Admin" asp-controller="Role" asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script src="~/js/roleIndex.js"></script>
}



