@model Market_Express.Web.ViewModels.Users.UserCreateViewModel
@{
    ViewData["Title"] = "Crear Usuario";
}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Usuarios</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Users" asp-action="Index">Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear Usuario</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Crear Usuario</h4>
            </div>
            <div class="card-body">
                <form asp-Area="Admin" asp-controller="Users" asp-action="Create" id="frm" method="post" class="row">
                    <div class="col-md-6">
                        <h4>Usuario</h4>
                        <hr />
                        <div class="form-group">
                            <label asp-for="AppUser.Name" class="col-form-label font-weight-bold">Nombre</label>
                            <input type="text"
                                   asp-for="AppUser.Name"
                                   class="form-control"
                                   placeholder="Escribe el nombre">
                            <span asp-validation-for="AppUser.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.Identification" class="col-form-label font-weight-bold">Identificación</label>
                            <div>
                                <input type="text"
                                       asp-for="AppUser.Identification"
                                       class="form-control"
                                       placeholder="Escribe la identificación"
                                       id="identification">
                                <label class="mr-3"><input type="radio" value="F" name="idtype" checked /> Persona Física</label>
                                <label><input type="radio" value="J" name="idtype" /> Persona Jurídica</label>
                            </div>
                            <span asp-validation-for="AppUser.Identification" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.Email" class="col-form-label font-weight-bold">Correo Electrónico</label>
                            <input type="text"
                                   asp-for="AppUser.Email"
                                   class="form-control"
                                   placeholder="Escribe el correo electrónico">
                            <span asp-validation-for="AppUser.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.Phone" class="col-form-label font-weight-bold">Teléfono</label>
                            <input type="number"
                                   asp-for="AppUser.Phone"
                                   class="form-control"
                                   placeholder="Escribe el numero de teléfono"
                                   maxlength="8"
                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            <span asp-validation-for="AppUser.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AppUser.Type" class="col-form-label font-weight-bold">Tipo</label>
                            <select asp-for="AppUser.Type"
                                    class="form-control"
                                    asp-items="Html.GetEnumSelectList<AppUserType>()">
                            </select>
                            <span asp-validation-for="AppUser.Type" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="collapse" id="divRoles">
                            <h4>Roles</h4>
                            <hr />
                            @if (Model.AvailableRoles.Count > 0)
                            {
                                @foreach (var role in Model.AvailableRoles)
                                {
                                    string sChecked = "";

                                    @if (Model.AppUser.Roles.Any(r => r == role.Id))
                                    {
                                        sChecked = "checked";
                                    }

                                    <div class="form-group">

                                        <label type="button"
                                               class="custom-control custom-checkbox d-inline">
                                            <input type="checkbox"
                                                   class="custom-control-input"
                                                   value="@role.Id"
                                                   name="roles"
                                                   @sChecked />
                                            <span class="custom-control-label">
                                                @role.Name
                                            </span>
                                        </label>

                                        <i type="button"
                                           class="fas fa-info-circle text-primary d-inline"
                                           data-trigger="focus"
                                           tabindex="0"
                                           data-toggle="popover"
                                           title="Información"
                                           data-content="@role.Description">
                                        </i>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <button type="submit" class="btn btn-primary" form="frm" id="btnSubmit">Crear</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/lib/jquery/dist/jquery.maskedinput.js"></script>
    <script src="~/js/userCreate.js"></script>
    <script src="~/js/utility/utility.preventFormDuplicate.js"></script>

    @if (Model?.AppUser?.Type == AppUserType.ADMINISTRADOR)
    {
        <script>
            $("#divRoles").collapse('show');
        </script>
    }

    @if (ViewData["MessageResult"] != null)
    {
        <script>
            popUp(false, '@ViewData["MessageResult"].ToString()');
        </script>
    }
}
