@model Market_Express.Web.ViewModels.Users.UserIndexViewModel
@{
    ViewData["Title"] = "Usuarios";
}
<style>
</style>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Usuarios</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        @if (TempData["UserMessage"] != null)
        {
            <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-check"></i> Éxito!</h4>
                <p class="mb-0">
                    @TempData["UserMessage"].ToString()
                </p>
            </div>
        }

        <div class="card">
            <div class="card-header bg-primary">
                    <h4 class="text-white">Consulta de Usuarios</h4>
                <div class="h4"></div>
            </div>
            <div class="card-body">

                <div class="mb-3">
                    <form asp-area="Admin" asp-controller="Users" asp-action="Index" method="post" class="row" id="frmTable">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Nombre</label>
                                <input type="text"
                                       asp-for="QueryFilter.Name"
                                       name="Name"
                                       class="form-control-original-small" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Identificación</label>
                                <input type="text"
                                       asp-for="QueryFilter.Identification"
                                       name="Identification" class="form-control-original-small" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Tipo</label>
                                <select asp-items="Html.GetEnumSelectList<AppUserType>()"
                                        asp-for="QueryFilter.Type"
                                        name="Type"
                                        class="form-control-original-small">
                                    <option>TODOS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Estado</label>
                                <select asp-items="Html.GetEnumSelectList<EntityStatus>()"
                                        asp-for="QueryFilter.Status"
                                        name="Status"
                                        class="form-control-original-small">
                                    <option>TODOS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="float-right" style=" width: 120px;">
                                <button class="btn btn-primary btn-block">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="divUsersTable">
                    @{ await Html.RenderPartialAsync("_AppUserTablePartial", Model.AppUsers); }
                </div>

            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script src="~/js/usersIndex.js"></script>
}

