
@{
    ViewData["Title"] = "Detalles Pedido";
}

<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Carrito</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Client" asp-controller="Order" asp-action="Index">Mis Pedidos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
        </nav>
    </div>
</section>

@if (TempData["OrderGenerationResult"] != null)
{
    <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading"><i class="fas fa-check"></i> Éxito!</h4>
        <p class="mb-0">
            @TempData["OrderGenerationResult"].ToString()
        </p>
    </div>
}
