
@{
    ViewData["Title"] = "Detalles Pedido";
}

<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Mis Pedidos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Client" asp-controller="Order" asp-action="Index">Mis Pedidos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
        </nav>
    </div>
</section>




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        @if (TempData["OrderGenerationResult"] != null)
        {
            <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-check"></i> Éxito!</h4>
                <p class="mb-0">
                    @TempData["OrderGenerationResult"].ToString()
                </p>
            </div>
        }

        <div class="row">
            <main class="col-md-12">

                <article class="card mb-3">
                    <div class="card-body">
                        <h4>Detalles</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <dl class="row">
                                    <dt class="col-xl-4 pr-0">Número de Pedido</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>100</p></dd>
                                    <dt class="col-xl-4 pr-0">Fecha</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>11/10/2021</p></dd>
                                    <dt class="col-xl-4 pr-0">Estado</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>Pendiente</p></dd>
                                    <dt class="col-xl-4 pr-0">Dirección de Envío</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>Santa Elena abajoasd asdopmaspd sapda spod sapod sda</p></dd>
                                </dl>
                            </div>

                            <div class="col-md-4 d-flex mb-3 mb-md-0">
                                <div class="align-self-center mx-auto" align="center">
                                    <button class="btn btn-primary btn-lg" id="btnCancelRecent">Generar Carrito Basado En Este Pedido</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->

                <article class="card  mb-3">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Artículos</h4>
                        <hr />
                        <table class="table table-sm table-shopping-cart table-responsive">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th class="w-50">Artículo</th>
                                    <th class="w-25 text-center">Cantidad</th>
                                    <th class="w-25 text-center">Precio Unitario</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p>Salsa de Tomate 800ml</p></td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">₡850</td>
                                    <td class="text-right">₡1700</td>
                                </tr>
                                <tr>
                                    <td><p>Arroz Liborio 1.8kg</p></td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">₡1050</td>
                                    <td class="text-right">₡1050</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="font-weight-bold"><span class="float-right">₡2750</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </article> 
            </main>
        </div>
    </div> 
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->