
@{
    ViewData["Title"] = "Detalles Pedido";
}

<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Carrito</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Client" asp-controller="Order" asp-action="Index">Mis Pedidos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
        </nav>
    </div>
</section>

