@model Market_Express.Web.ViewModels.Order.MyOrdersViewModel
@{
    ViewData["Title"] = "Mis Pedidos";
}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Mis Pedidos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mis Pedidos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-2 mb-3">
                <div class="list-group" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="list-group-item active" id="v-pills-re-tab" data-toggle="pill" href="#v-pills-re" role="tab" aria-controls="v-pills-re" aria-selected="true">Resumen</a>
                    <a class="list-group-item" id="v-pills-od-tab" data-toggle="pill" href="#v-pills-od" role="tab" aria-controls="v-pills-od" aria-selected="false">Todos los Pedidos</a>
                </div>
            </aside>
            <main class="col-md-10">
                <article class="card mb-3">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-re" role="tabpanel" aria-labelledby="v-pills-re-tab">
                                <div>
                                    <h4>Resumen</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <figure class="item-feature">
                                                <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
                                                <figcaption class="pt-3">
                                                    <h5 class="title">Entrega rápida</h5>
                                                    <p class="text-justify">Tus pedidos serán entregados en menos de 24 horas sin ningún costo adicional (Sujeto a cobertura y disponibilidad).</p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure class="item-feature">
                                                <span class="text-primary"><i class="fa fa-2x fa-shopping-basket"></i></span>
                                                <figcaption class="pt-3">
                                                    <h5 class="title">Pago contra entrega</h5>
                                                    <p class="text-justify">
                                                        Realiza tu pago en efectivo al recibir tus productos o por medio de una transferencia SINPE al 87389387.
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure class="item-feature">
                                                <span class="text-primary"><i class="fa fa-2x fa-check-double"></i></span>
                                                <figcaption class="pt-3">
                                                    <h5 class="title">Calidad al mejor precio</h5>
                                                    <p class="text-justify">
                                                        Garantizamos la calidad de nuestros productos a precio competitivos.
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-4 d-flex mb-3 mb-md-0">
                                            <div class="align-self-center mx-auto" align="center">
                                                <button class="btn btn-danger btn-lg" id="btnCancelRecent">Cancelar más reciente</button>
                                            </div>
                                        </div>
                                        <div class="col-md-8" id="divOrderStats">
                                            @{ await Html.RenderPartialAsync("_MyOrdersStatsPartial",Model.OrderStats); }
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div>
                                    <h4 class="card-title mb-4">Pedidos Recientes</h4>

                                    <div class="row" id="divMostRecentOrders">
                                        @{ await Html.RenderPartialAsync("_MyOrdersRecentPartial", Model.RecentOrders); }
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-od" role="tabpanel" aria-labelledby="v-pills-od-tab">
                                <div>
                                    <h4>Todos los Pedidos</h4>
                                    <hr />
                                    <div>
                                        <form asp-area="Client" asp-controller="Order" asp-action="Index" method="get" class="row" id="frmTable">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Fecha Inicial</label>
                                                    <input type="date"
                                                           asp-for="Filters.StartDate"
                                                           name="@(nameof(Model.Filters.StartDate))"
                                                           class="form-control-original-small" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Fecha Final</label>
                                                    <input type="date"
                                                           asp-for="Filters.EndDate"
                                                           name="@(nameof(Model.Filters.EndDate))"
                                                           class="form-control-original-small" />
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Estado</label>
                                                    <select asp-items="Html.GetEnumSelectList<OrderStatus>()"
                                                            name="@(nameof(Model.Filters.Status))"
                                                            class="form-control-original-small">
                                                        <option>TODOS</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3 d-flex">
                                                <div class="align-self-center mx-auto mb-3 mb-md-0" style=" width: 120px;">
                                                    <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divTableAllOrders">
                                        @{ await Html.RenderPartialAsync("_MyOrdersTablePartial", Model); }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>

<section class="section-name bg padding-y">
    <div class="container">
        <h6>Cancelación de Pedidos</h6>
        <p>
            No puedes cancelar pedidos que tengan más de 5 minutos de haber sido realizados.
        </p>
    </div>
</section>


@section Scripts{

    <script src="~/js/myOrders.index.js"></script>
}


