@model List<Market_Express.Application.DTOs.BinnacleAccess.BinnacleAccessDTO>
@{
    Layout = null;
}
<h1 style="text-align: center;">Market Express</h1>
<h3>Reporte de Accesos y Salidas del Sistema</h3>

<table style="width: 100%;">
    <thead>
        <tr style="background: #eee; height: 40px; ">
            <th style="background: #eee; text-align: center; ">Usuario</th>
            <th style="background: #eee; text-align: center;">Identificación</th>
            <th style="background: #eee; text-align: center;">Fecha y Hora Ingreso</th>
            <th style="background: #eee; text-align: center;">Fecha y Hora de Salida</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count > 0)
        {
            @foreach (var access in Model)
            {
                dynamic dExitDate = access.ExitDate.HasValue
                    ? access.ExitDate
                    : "No Registrado";

                <tr>
                    <td style="line-height: 2em;">@access.AppUser.Name.Capitalize()</td>
                    <td style="line-height: 2em; text-align: center;">@access.AppUser.Identification</td>
                    <td style="line-height: 2em; text-align: center;">@access.EntryDate</td>
                    <td style="line-height: 2em; text-align: center;">@dExitDate</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <p style="text-align:center;">No hay registros.</p>
                </td>
            </tr>
        }
    </tbody>
</table>





