@model Market_Express.Web.ViewModels.BinnacleAccess.BinnacleAccessIndexViewModel
@{
    ViewData["Title"] = "Bitácora de Accesos";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Bitácora de Accesos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bitácora de Accesos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->



<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-2 mb-3">
                <div class="list-group" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="list-group-item active" id="v-pills-re-tab" data-toggle="pill" href="#v-pills-re" role="tab" aria-controls="v-pills-re" aria-selected="true">Bitácora</a>
                    <a class="list-group-item" id="v-pills-od-onl" data-toggle="pill" href="#v-pills-onl" role="tab" aria-controls="v-pills-onl" aria-selected="false">Usuarios en Linea</a>
                </div>
            </aside>
            <main class="col-md-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-re" role="tabpanel" aria-labelledby="v-pills-re-tab">
                        <article class="card mb-3">
                            <div class="card-header bg-primary">
                                <h4 class="text-white">Registro de Accesos y Salidas de Usuarios del Sistema</h4>
                            </div>
                            <div class="card-body">

                                <form class="row" id="frmTable">
                                    <div class="col-lg-3 col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Usuario</label>
                                            <input type="text"
                                                   asp-for="Filters.User"
                                                   name="user"
                                                   class="form-control-original-small"
                                                   id="usernametextbox" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Fecha Inicial</label>
                                            <input type="date"
                                                   asp-for="Filters.StartDate"
                                                   name="startdate"
                                                   class="form-control-original-small" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Fecha Final</label>
                                            <input type="date"
                                                   asp-for="Filters.EndDate"
                                                   name="enddate"
                                                   class="form-control-original-small" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-flex">
                                        <div class="align-self-center mx-auto mb-3 mb-lg-0">
                                            <div class="btn-group" role="group" aria-label="buttomgroup">
                                                <button type="submit" class="btn btn-primary" style=" width: 80px;">Filtrar</button>
                                                <button type="button" class="btn btn-primary" style=" width: 80px;" id="btnGenerateReport">Reporte</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div id="divBinnacleAccessTable">
                                    @{ await Html.RenderPartialAsync("_BinnacleAccessTablePartial", Model); }
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="tab-pane fade show" id="v-pills-onl" role="tabpanel" aria-labelledby="v-pills-od-onl">
                        <article class="card mb-3">
                            <div class="card-header bg-primary">
                                <h4 class="text-white">Usuarios en Linea</h4>
                            </div>
                            <div class="card-body">
                                <p>La funcionalidad se agregará en futuras actualizaciones.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/binnacle.access.index.js"></script>

    @{
        string sParams = "";
        sParams += $"user={Model?.Filters?.User}&";
        sParams += $"startdate={Model?.Filters?.StartDate}&";
        sParams += $"enddate={Model?.Filters?.EndDate}&";

        <script>params = '@Html.Raw(sParams)'</script>
    }
}

