
@{
    ViewData["Title"] = "Bitácora de Accesos";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Bitácora Accesos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bitácora de Accesos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->



<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-2 mb-3">
                <div class="list-group" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="list-group-item active" id="v-pills-re-tab" data-toggle="pill" href="#v-pills-re" role="tab" aria-controls="v-pills-re" aria-selected="true">Bitácora</a>
                    <a class="list-group-item" id="v-pills-od-onl" data-toggle="pill" href="#v-pills-onl" role="tab" aria-controls="v-pills-onl" aria-selected="false">Usuarios en Linea</a>
                </div>
            </aside>
            <main class="col-md-10">
                <article class="card mb-3">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-re" role="tabpanel" aria-labelledby="v-pills-re-tab">
                                <h4>Algo 1</h4>
                                <hr />

                            </div>

                            <div class="tab-pane fade show" id="v-pills-onl" role="tabpanel" aria-labelledby="v-pills-od-onl">
                                <h4>Algo 2</h4>
                                <hr />

                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>


@section Scripts{

}

