@model Market_Express.Application.DTOs.Slider.SliderCreateDTO
@{
    ViewData["Title"] = "Crear Slider";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Sliders</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Slider" asp-action="Index">Sliders</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Crear</h4>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-Area="Admin" asp-controller="Slider" asp-action="Create" id="frm" method="post" class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Name" class="col-form-label">Nombre</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Escribe el nombre del slider">
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="col-form-label">Imagen</label>
                            <i type="button"
                               class="fas fa-info-circle text-primary"
                               data-trigger="focus"
                               tabindex="0"
                               data-toggle="popover"
                               title="Información"
                               data-content="Sólo se aceptan imagenes de tipo jpg, jpeg y png. La resolución recomendada es de 1922 x 616.">
                            </i>
                            <input type="file" asp-for="Image" class="form-control-file" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <figure>
                                <img id="newImagePreview" class="img-fluid img-thumbnail" />
                                <figcaption>Imagen Cargada</figcaption>
                            </figure>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="Admin" asp-controller="Slider" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <button type="submit" class="btn btn-primary" form="frm" id="btnSubmit">Crear</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/sliderCreate.js"></script>
}
