@model Market_Express.Application.DTOs.Slider.SliderUpdateDTO
@using Market_Express.Domain.Enumerations
@{
    ViewData["Title"] = "Editar Slider";
}

<section class="container">
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="text-white">Editar Slider</h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-Area="Admin" asp-controller="Slider" asp-action="Edit" id="frm" method="post" class="row">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Image" />

                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label">Nombre</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Escribe el nombre del slider">
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="NewImage" class="col-form-label">Imagen</label>
                        <i type="button"
                           class="fas fa-info-circle text-primary"
                           data-trigger="focus"
                           tabindex="0"
                           data-toggle="popover"
                           title="Información"
                           data-content="Sólo se aceptan imagenes de tipo jpg, jpeg y png. La resolución recomendada es de 1922 x 616.">
                        </i>
                        <input asp-for="NewImage" type="file" class="form-control-file" />
                        <span asp-validation-for="NewImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="col-form-label">Estado</label>
                        <select asp-for="Status" asp-items="Html.GetEnumSelectList<EntityStatus>()" class="form-control"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <figure>
                            <img id="ImagePreview" src="@Url.Action("GetImage","Resource",new { area = "", n = Model.Image })" class="img-fluid img-thumbnail" />
                            <figcaption>Imagen Actual</figcaption>
                        </figure>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <a asp-area="Admin" asp-controller="Slider" asp-action="Index" class="btn btn-secondary">Volver</a>
                <button type="submit" class="btn btn-primary" form="frm">Guardar</button>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/sliderEdit.js"></script>

    @if (ViewData["Message"] != null)
    {
        <script>
            popUp(false, '@ViewData["Message"].ToString()');
        </script>

    }

}