@model List<Market_Express.Application.DTOs.Slider.SliderDTO>
@using Market_Express.Domain.Enumerations
@{
    ViewData["Title"] = "Sliders";
}

<section class="container">
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="text-white">Sliders</h4>
        </div>
        <div class="card-body">
            <a asp-area="Admin" asp-controller="Slider" asp-action="Create" class="btn btn-primary">Agregar nuevo</a>
            <div class="row align-items-strech">
                @foreach (var slider in Model)
                {
                    string active = slider.Status == EntityStatus.ACTIVADO ? "success" : "danger";

                    <div class="col-12 col-md-3 d-flex mt-3 justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="@Url.Action("GetImage","Resource",new { area = "", n = slider.Image })" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">@slider.Name</h5>
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <a asp-area="Admin" asp-controller="Slider" asp-action="Edit" asp-route-id="@slider.Id" class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                                    <a href="#" data-id="@slider.Id" class="btn btn-sm btn-@active ml-2" id="btnChangeStatus"><i class="fas fa-power-off"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script src="~/js/sliderIndex.js"></script>
 }