@model Market_Express.Web.ViewModels.Cart.CartIndexViewModel
@{
    ViewData["Title"] = "Carrito";

}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Carrito</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Carrito</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        @if (TempData["OrderGenerationResult"] != null)
        {
            <div class="alert alert-dismissible fade show alert-danger mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-times"></i> Hubo un problema..</h4>
                <p class="mb-0">
                    @TempData["OrderGenerationResult"].ToString()
                </p>
            </div>
        }

        <div class="row" id="divCartDetails">
            @{ await Html.RenderPartialAsync("_CartDetailsPartial", Model); }
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<section class="section-name bg padding-y">
    <div class="container">
        <h6>Precios y totales</h6>
        <p>
            El costo total es aproximado ya que hay artículos en los que su precio final puede variar debido a su tipo y unidad de medida.
        </p>
    </div><!-- container // -->
</section>

@section Scripts{
    <script src="~/js/cart.index.js"></script>
}