@model Market_Express.Web.ViewModels.Cart.CartIndexViewModel
@{
    ViewData["Title"] = "Carrito";

}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Carrito</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Carrito</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        @if (TempData["ErrorOrderGenerationResult"] != null)
        {
            <div class="alert alert-dismissible fade show alert-danger mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-times"></i> Hubo un problema..</h4>
                <p class="mb-0">
                    @TempData["ErrorOrderGenerationResult"].ToString()
                </p>
            </div>
        }

        @if (TempData["CartGenerationResult"] != null)
        {
            <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-check"></i> Éxito!</h4>
                <p class="mb-0">
                    @TempData["CartGenerationResult"].ToString()
                </p>
            </div>
        }

        <div class="row" id="divCartDetails">
            @{ await Html.RenderPartialAsync("_CartDetailsPartial", Model); }
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<section class="section-name bg padding-y">
    <div class="container">
        <h6>Precios y totales</h6>
        <p>
            • El costo total es aproximado ya que hay artículos en los que su precio final puede variar debido a su tipo y unidad de medida.
        </p>
    </div><!-- container // -->
</section>

<div class="modal fade" id="modalAddress" tabindex="-1" aria-labelledby="modalAddressLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblAddressTitle">Debes indicar una dirección de envío</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Client" asp-controller="Cart" asp-action="GenerateOrderWithNewAddress" id="frmAddress" method="post">
                    <input type="hidden" name="id" id="id" value="" />
                    <div class="form-group">
                        <label for="detail" class="col-form-label">Dirección</label>
                        <textarea name="address" class="form-control" data-val="true" data-val-required="Este campo es obligatorio" maxlength="255" id="detail" placeholder="Escribe la dirección de envío" style="resize: none;"></textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="address" data-valmsg-replace="true"></span>
                    </div>
                </form>

                <p class="text-muted">• La dirección será usada para futuros pedidos.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" form="frmAddress">Procesar <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/cart.index.js"></script>

    @if (TempData["MustCreateAddress"] != null)
    {
        <script>
            $("#modalAddress").modal();
        </script>
    }
}